# ignore environment
.venv
.venv/
/.venv

# ignore IDE
.idea
.idea/
/.idea

# ignore environments
*.env

# ignore logs
logs
*.log
logs/
/logs

# ignore python cache
*.pyc
.cache
__pycache__/
__pycache__
/__pycache__
.pytest_cache
.pytest_cache/
/.pytest_cache

# html allure report dir
allureReport/
/allureReport
assets
/assets
assets/

# html report
testReport.html
*.html